<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="p-3 bg-dark text-white" th:fragment="headerFrag">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img src="/image/dragon-solid.svg" style="width: 3%; height: 3%; margin-right: 10px;">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h4 class="fw-bold">Log Dungeon</h4>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">랭킹</a></li>
                <li><a href="#" class="nav-link px-2 text-white">자유게시판</a></li>
                <li><a href="#" class="nav-link px-2 text-white">문의</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2" id="login_btn">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
    <script>
        $("#login_btn").click(function (){
            location.href = "/login";
        })
    </script>
</header>