<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFrag">
    <!-- 공통 css, js 추가 -->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom_css.css">
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/be0e61632b.js" crossorigin="anonymous"></script>
</head>