<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div class="row align-items-center w-50 d-flex flex-column bg-dark align-self-center justify-content-center border border-white rounded-1 m-0"
         style="height: 40rem; opacity: 0.8">
        <div class="col-12" style="height: 10%;">
            <button class="btn text-white">◀캐릭터 선택</button>
        </div>
        <div class="col-12 p-0" style="height: 70%;">

        </div>
        <div class="col-12" style="height: 20%;">
            <span th:text="${unit.name}"></span>
        </div>
    </div>
</div>
</html>