<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div class="row align-items-center w-50 d-flex flex-column bg-dark align-self-center justify-content-center border border-white rounded-1 m-0"
         style="height: 40rem; opacity: 0.8">
        <div th:each="i : ${#numbers.sequence(0,2)}" class="row justify-content-center p-4" sec:authorize="isAuthenticated()">
            <div class="col-4 p-0 d-flex flex-column text-center border border-dark border-2 bg-light bg-opacity-75 align-items-center justify-content-center" style="height: 8rem;">
                <div class="row" th:if="${characterList.get(i)} != null">
                    <div class="col">
                        <span th:text="${characterList.get(i).unitName}"></span>
                    </div>
                </div>
                <button th:if="${characterList.get(i)} == null" class="align-middle btn text-black create-unit">캐릭터 생성</button>
            </div>
        </div>
        <div class="row justify-content-center" sec:authorize="isAnonymous()">
            <div class="col-4 p-0 d-flex flex-column text-center border border-dark border-2 bg-light bg-opacity-75 align-items-center justify-content-center" style="height: 8rem;">
                <button class="align-middle btn text-black create-unit">캐릭터 생성</button>
            </div>
        </div>
    </div>
</div>
</html>